
html {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  header {

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
header {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #A6D0DD;
    color: #fff;

    padding: 10px;
    font-family: 'Roboto', sans-serif;
  }
  

    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }

  header h1 {
    font-size: 36px;
    margin: 0;
  }

  


  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  
  header nav ul li {
    margin-left: 10px;
  }
  

  header nav ul li {
    margin-left: 20px;
  }

  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  


  header nav ul li a:hover {
    color: #ffcc00;
  }
  

  main {
    margin-top: -20px;

main{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    background-color: #fff;
    color: #333;
    padding: 50px;
    font-family: 'Roboto', sans-serif;

  }
  
  table thead th {
    width: 150px;
    text-align: left;
    padding-bottom: 5px;
  }
  
  form {
=======
}


table thead th{
    width:150px;
    text-align: left;
    padding-bottom: 10px;

}

form{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
  }
  
  form h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  form input,
  form select {
    width: 300px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
  }
  
  footer {
=======
}

form input, form select{
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
}

footer {

    background-color: #A6D0DD;
    color: #fff;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  #renderDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3rem;
    text-align: center;
    margin: 2rem;
  }
  
  .card {
    border: 1px black solid;
    border-radius: 15px;

  
  
  
  
  #renderDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:3rem;
    text-align: center;
    margin: 2rem;
  }
  .card {
      border:1px black solid;
      border-radius: 15px;

  }